'scopeName': 'source.sqsptemplate'

'filetypes': [
  'sqsptemplate',
  'block',
  'region',
  'list',
  'item'
]

'name': 'template (squarespace)'

'patterns': [
  {
    'include': 'source.html'
  }
]
